div {
  	width: 800px;
  	height: 50px; 
  	margin: 200px 200px;
  	padding: 20px 10px 70px 70px;
  	background-color:#FFE4C4;
  	border: solid purple;
  	border-width: 15px 7px;

  
}

p {
	border: dotted black;
	background-color: white;
	text-align: center;
	padding: 10px 10px 10px 10px;
}